{release, {time_manager, "1"},
[
  kernel,
  stdlib,
  sasl,
  inets,
  asn1,
  syntax_tools,
  crypto,
  public_key,
  ssl,  
  compiler,
  ranch,
  cowlib,
  cowboy,
  time_manager
]}.

{extended_start_script, true}.
{include_erts, true}.
{include_src, false}.
{include_priv, false}.
%{vm_args, "vm.args"}.
{sys_config, "./config/sys.config"}.

